<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
     <!-- Hi.. :)  I'm Erika! I have a background in graphic design, dipped into development, and found myself inbetween with a passion for UI/UX.-->
    <!-- You can usually find me designing, learning new tech, or working with CSS. When I'm not doing that, I'm usually out enjoying nature. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Erika Merced Portfolio</title>
    <!--Google Web Font-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Page Styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/favicon.png" />
</head>

<body data-ng-app="app" ng-controller="PortfolioController as main">
    <!-- Navbar -->
    <nav class="navbar center navbar-fixed-top nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle collapsed pull-left nav-name" data-toggle="collapse" aria-expanded="false" aria-controls="navbar">Erika Merced</div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-inner">
                <div class="navbar-header logo-header">
                    <div class="logo">
                        <img src="assets/logo.png" class="img-responsive" alt="" />
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-anim"><a href="#section-1" du-smooth-scroll du-scrollspy="section-1">Main</a></li>
                    <li class="nav-anim"><a href="#section-2" du-smooth-scroll du-scrollspy="section-2">Work</a></li>
                    <li class="nav-anim"><a href="#section-3" du-smooth-scroll="section-3" du-scrollspy>Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Landing Container -->
    <div class="landing-container" id="section-1">
        <div class="col">
            <img class="img-responsive full-img" src="assets/mila.jpg" />
        </div>
    </div>
    <!--End Landing Container-->
    <!-- Image Container -->
    <div class="container image-container" id="section-2">
        <div>
            <ul class="list">
                <li class="list-item" ng-repeat="image in main.images">
                    <div class="list-content">
                        <img ng-src="{{image.name}}" class="img-responsive" ng-click="main.open(image)" />
                    </div>
                    <!-- Modal Template -->
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-body">
                            <img ng-src="{{mc.image.name}}" class="img-responsive slide-img" />
                        </div>
                        <div class="modal-footer">
                            <p>{{mc.image.details}}</p>
                        </div>
                    </script>
                    <!-- End Modal Template -->
                </li>
            </ul>
        </div>
    </div>
    <!--End Image Container-->
    <!-- Social Media -->
    <div class="social-medial-container">
        <strong class="hire-me" id="section-3">Hire Me  </strong>
        <i type="button" class="fa fa-envelope" aria-hidden="true" popover-placement="top" uib-popover="mercederika@gmail.com"></i>
        <a target="_blank" href="http://github.com/mercederika"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/mercederika"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <!-- End Social Media -->
    
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- Bootstrap UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Angular Scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>

    <script type="text/javascript">
        // include ui.bootstrap for modal, duScroll for scrollSpy 
        var app = angular.module("app", ["ui.bootstrap", "duScroll"]);

        // include for scroll bottom spy (duScroll);
        app.value("duScrollBottomSpy", true);

        // Modal Controller
        app.controller("ModalInstanceCtrl", ModalInstanceCtrl);
        ModalInstanceCtrl.$inject = ["$scope", "image"];

        function ModalInstanceCtrl($scope, image) {
            var vm = this;
            vm.image = image;
            vm.close = function (result) {
                close(result, 500);
            };
        };

        app.controller("PortfolioController", PortfolioController);
        // inject uibModal & $sce for popover
        PortfolioController.$inject = ["$scope", "$uibModal", "$sce"];

        function PortfolioController($scope, $uibModal) {
            var vm = this;

            vm.images = [
                {
                    name: "assets/kvite-googlemaps.jpg",
                    details: "Implemented Google Maps API over Ajax to display maps, to perform geocoding lookups, and to get address typeahead predictions."
                },
                {
                    name: "assets/kvite-uploads.jpg",
                    details: "Worked with Amazon Web Services S3. A reusable loosely-coupled AngularJS asset that communicated through Angular events."
                },
                {
                    name: "assets/kvite-messaging.jpg",
                    details: "Integrated site wide navigation menus. Used AngularJS filter to build a dynamic contact messaging system with data from SQL server."
                },
                {
                    name: "assets/localshows.jpg",
                    details: "Local Shows is a web app that allows upcoming artists to announce their events and get noticed - restaurants, museums, non-profits, record stores, etc."
                },
                {
                    name: "assets/concertz-phoneapp.jpg",
                    details: "Concertz: Mock design for an Account Settings phone App based on concerts and shows around your tracked locations. Change username workflow"
                }
                ,
                {
                    name: "assets/sequoia-landing.jpg",
                    details: "Mock landing page based on Sequoia Kings Canyon, one of my favorite places."
                }
                ,
                {
                    name: "assets/payment-method.jpg",
                    details: "Saved Payment method selection page with link to add other payment method."
                }
                ,
                {
                    name: "assets/sign-in-form.jpg",
                    details: "General Sign In form with Forgot Password and Make an account link."
                },
                {
                    name: "assets/daft-punk-cd-and-cover.jpg",
                    details: "Mock up CD insert and CD design for Daft Punk."
                },
                {
                    name: "assets/daftpunk-poster.jpg",
                    details: "Mock-up poster design for Daft Punk. "
                },
                {
                    name: "assets/american-psycho-illustration.jpg",
                    details: "American Psycho illustration."
                },
                {
                    name: "assets/opi-ad.png",
                    details: "Mock-up ad design for OPI"
                }
            ];

            // MODAL WINDOW
            vm.open = function (_image) {
                var modalInstance = $uibModal.open({
                    controller: "ModalInstanceCtrl as mc",
                    templateUrl: "myModalContent.html",
                    size: "lg",
                    resolve: {
                        image: function () {
                            return _image;
                        }
                    }
                });
            };
        };
    </script>

</body>
</html>