<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Erika Merced Portfolio</title>
    <!--Google Web Font-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/6ad2a4b74b.js"></script>
    <!-- Page Styles -->
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body data-ng-app="app" ng-controller="PortfolioController as main">
    <!-- Nav Bar -->
    <nav class="navbar center navbar-fixed-top nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle collapsed pull-left nav-name" data-toggle="collapse" aria-expanded="false" aria-controls="navbar">Erika Merced</div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<span class="navbar-brand" href="#1">Erika Merced</span>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-inner">
                <div class="navbar-header logo-header">
                    <div class="logo">
                        <img src="assets/logo.png" class="img-responsive" alt="" />
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-anim"><a href="#section-1" du-smooth-scroll du-scrollspy="section-1">Main</a></li>
                    <li class="nav-anim"><a href="#section-2" du-smooth-scroll du-scrollspy="section-2">Work</a></li>
                    <li class="nav-anim"><a href="#section-3" du-smooth-scroll="section-3" du-scrollspy>Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="landing-container" id="section-1">
        <div class="col">
            <img class="img-responsive full-img" src="assets/mila.jpg" />
        </div>
    </div>

    <div class="container image-container" id="section-2">
        <div>
            <ul class="list">
                <li class="list-item" ng-repeat="image in main.images">
                    <div class="list-content">
                        <img ng-src="{{image.name}}" class="img-responsive" ng-click="main.open(image)" />
                    </div>
                    <!-- Modal Template -->
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-body">
                            <img ng-src="{{mc.image.name}}" class="img-responsive slide-img" />
                        </div>
                        <div class="modal-footer">
                            <p>{{mc.image.details}}</p>
                        </div>
                    </script>
                    <!-- End Modal Template -->
                </li>
            </ul>
        </div>
    </div>

    <div class="social-medial-container">
        <strong class="hire-me" id="section-3">Hire Me  </strong>
        <i type="button" class="fa fa-envelope" aria-hidden="true" popover-placement="top" uib-popover="mercederika@gmail.com"></i>
        <a target="_blank" href="http://github.com/mercederika"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/mercederika"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- Bootstrap UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.2/angular-scroll.min.js"></script>

    <script type="text/javascript">

        // inclide ui.bootstrap for modal, duScroll for scrollSpy 
        var app = angular.module('app', ['ui.bootstrap', 'duScroll']);

        // include for scroll bottom spy (duScroll);
        app.value('duScrollBottomSpy', true);

        // Modal Controller
        app.controller('ModalInstanceCtrl', ModalInstanceCtrl);
        ModalInstanceCtrl.$inject = ["$scope", "image"];

        function ModalInstanceCtrl($scope, image) {
            var vm = this;
            vm.image = image;
            vm.close = function (result) {
                close(result, 500);
            };
        };

        app.controller('PortfolioController', PortfolioController);
        // inject uibModal & $sce for popover
        PortfolioController.$inject = ["$scope", "$uibModal", "$sce"];

        function PortfolioController($scope, $uibModal) {
            var vm = this;
            vm.images = [
                {
                    name: 'assets/localshows-mockup.jpg',
                    details: 'Work in progress: Web application for underground upcoming artists to announce local events.',
                },
                {
                    name: 'assets/kvite-googlemaps.jpg',
                    details: "Integrated maps using Google Maps API for KVite",
                },
                {
                    name: 'assets/daftpunk-cdmockup.jpg',
                    details: 'Mock-up CD design for Daft Punk',
                },
                {
                    name: 'assets/dafpunk-poster.jpg',
                    details: 'Mock-up poster for Daft Punk',
                },
                {
                    name: 'assets/american-psycho-illustration.jpg',
                    details: 'American Psycho Illustration.',
                },
                {
                    name: 'assets/galleria-mockup.jpg',
                    details: 'Mock-up poster for Glassgow sisters.',
                }
            ];

            // MODAL WINDOW
            vm.open = function (_image) {
                var modalInstance = $uibModal.open({
                    controller: "ModalInstanceCtrl as mc",
                    templateUrl: 'myModalContent.html',
                    size: "lg",
                    resolve: {
                        image: function () {
                            return _image;
                        }
                    }
                });
            };
        };
    </script>

</body>
</html>